.header {
    width: 100%;
    height: 50px;
    border: 2px solid black;
    background: gray;
}

.header .icone {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.page {
    background: white;
}